*.sublime*
*.psd
*.docx
Thumbs.db
readme.html
wp-includes/**/*
wp-**.php
readme.html
/wp-admin/**/*
index.php

/wp-content/index.php
/wp-content/plugins/**/*
/wp-content/uploads/**/*
/wp-content/upgrade/**/*
/wp-content/languages/**/*

/wp-content/themes/index.php

/wp-content/themes/webinarTheme/index.php
/wp-content/themes/webinarTheme/style.css

/wp-content/themes/webinarTheme/source/css/style.css.map
/wp-content/themes/webinarTheme/source/css/fontello.css
/wp-content/themes/webinarTheme/source/css/fontello2.css
/wp-content/themes/webinarTheme/source/sass/**/*
